*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/src/debug/res/values/google_maps_api.xml
/app/google-services.json
/app/build/generated/res/google-services
/build
/captures
.externalNativeBuild
.cxx
local.properties

